# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar

# Kubernetes temp
*.yaml.tmp

# Locust logs
*.csv

# Misc
*.swp